.contact-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-link {
    margin:10px;
}

.favicon {
    width:20px;
}

.icon-container{
    margin: 0 5px 0 5px;
}