.title-container{
    margin:-30px 0 50px 0;
    text-shadow: 0 0 20px rgba(120,160,255,0.4);
}

@media (max-width: 768px) {
  .title-container {
    margin: 5rem 0 8rem 0;
    text-shadow: 0 0 20px rgba(120,160,255,0.4);
  }
}