.projects-carousel {
  width: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 65%;
  gap: 2rem;

  overflow-x: auto;

  padding: 1.5rem calc((100% - 65%) / 2) 3rem calc((100% - 65%) / 2);

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  align-items: stretch;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
}

.projects-carousel::-webkit-scrollbar {
  height: 8px;
}

.projects-carousel::-webkit-scrollbar-thumb {
  background: #99bad5;
  border-radius: 4px;
}

.project-card {
  scroll-snap-align: center;

  background: rgba(255, 255, 255, 0.163);
  border-radius: 16px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  height: 100%;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.project-card img {
  display: block;
  max-height: 350px;
  object-fit: contain;
  margin: 0 auto 0.75rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.project-card a {
  display: block;
  text-align: center;
}

.project-card h2 {
  margin: .8rem 0 1rem;
}

.project-card h4 {
  margin: .2rem 0 0.4rem;
}

.project-card p {
  margin: .4rem 0 0.7rem;
  line-height: .35;
}

.project-card > *:last-child {
  margin-top: auto;
}

@media (max-width: 768px) {
  .projects-carousel {
    grid-auto-columns: 85%;
    gap: 4.2rem;
    padding: 1rem calc((100% - 85%) / 2) 2rem;
  }

  .project-card {
    width: 110%;
    margin: 0 auto 1.5rem auto;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .project-card h2{
    font-size:24px;
  }

  .project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

  .project-card p{
    font-size:18px;
    margin: 15px 0 15px 0;
    line-height: 1.5;
  }

  .project-card p:first-of-type {
    min-height: calc(1.5em * 3);
    max-height: calc(1.5em * 3);
    overflow: hidden;
  }


  .extra-text{
    margin-top:35px !important;
  }
}